@import 'libs/normalise';
@import 'libs/fonts';

@import 'main/variables';

* {
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/options';
@import 'blocks/inserts';
@import 'blocks/prices';
@import 'blocks/forms';
@import 'blocks/schema';