.carousel {
    margin-top: 31px;
    &__inner {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 1280px;
    }
    &__item {
        max-width: 600px;
        margin: 0 auto;
        transform: scale(0.5);
        opacity: 0.3;

    }
    &__img {
        width: 114px;
        height: 114px;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
    }
    &__name {
        margin-top: 19px;
        color: #3a3a3a;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        margin-top: 14px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
    }
    .slick-prev {
        position: absolute;
        left: 40%;
        top: 30px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        z-index: 2;
    }
    .slick-next {
        position: absolute;
        right: 40%;
        top: 30px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        z-index: 2;
    }
    .slick-center {
        transform: scale(1);
        opacity: 1;
    }

}