.feed-form {
    margin: 0 auto;
    margin-top: 71px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 166px;
    border: 1px solid #c9c9c9;
    input {
        height: 47px;
        width: 273px;
        border: 1px solid #c9c9c9;
        border-radius: 25px;
        padding-left: 30px;
        margin-right: 6px;
        &:nth-child(3) {
            margin: 0;
        }
    }
}