.title {
    margin: 0;
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.subtitle {
    margin-top: 17px;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}
.devider {
    margin: 0 auto;
    margin-top: 20px;
    width: 148px;
    height: 1px;
    background-color: $main;
}